In [3]:
import pandas as pd
from textblob import TextBlob
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import numpy as np

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [4]:
! pip install vaderSentiment

Collecting vaderSentiment
  Downloading https://files.pythonhosted.org/packages/86/9e/c53e1fc61aac5ee490a6ac5e21b1ac04e55a7c2aba647bb8411c9aadf24e/vaderSentiment-3.2.1-py2.py3-none-any.whl (125kB)
     |████████████████████████████████| 133kB 4.9MB/s
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.2.1

In [11]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [0]:
url = 'https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv'
dF = pd.read_csv(url)

In [6]:
dF.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [0]:
def textblobSentiment(tweet):
  return(TextBlob(tweet).sentiment.polarity)

In [8]:
dF["TextBlob polarity"] = dF["TweetText"].apply(textblobSentiment)
dF.head()

   Topic  ... TextBlob polarity
0  apple  ...          0.000000
1  apple  ...          0.500000
2  apple  ...          0.393750
3  apple  ...          0.541667
4  apple  ...          0.200000

[5 rows x 6 columns]

In [0]:
def sentimentNltk(tweet):
  ss = SentimentIntensityAnalyzer().polarity_scores(tweet)
  m = max(ss, key = ss.get)
  d = {}
  d[m] = ss[m]
  return d

In [12]:
dF["Sentiment Intensity Analyze"] = dF["TweetText"].apply(sentimentNltk)
dF.head()

   Topic Sentiment  ...  TextBlob polarity Sentiment Intensity Analyze
0  apple  positive  ...           0.000000                {'neu': 1.0}
1  apple  positive  ...           0.500000              {'neu': 0.801}
2  apple  positive  ...           0.393750        {'compound': 0.8858}
3  apple  positive  ...           0.541667              {'neu': 0.814}
4  apple  positive  ...           0.200000              {'neu': 0.791}

[5 rows x 7 columns]

In [0]:
data = pd.read_json('http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz',lines=True)

In [0]:
dF2 = pd.DataFrame(data)

In [16]:
dF2['TextBlob polarity']=dF2['reviewText'].apply(textblobSentiment)
dF2.head()

       reviewerID        asin  ...   reviewTime TextBlob polarity
0  A32T2H8150OJLU  B00000JBLH  ...   09 3, 2004          0.180000
1  A3MAFS04ZABRGO  B00000JBLH  ...  12 15, 2007          0.170939
2  A1F1A0QQP2XVH5  B00000JBLH  ...   01 1, 2011          0.204091
3   A49R5DBXXQDE5  B00000JBLH  ...  04 19, 2006          0.214217
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...   08 4, 2013          0.350000

[5 rows x 10 columns]

In [17]:
dF2["Sentiment Intensity Analyze"] = dF2["reviewText"].apply(sentimentNltk)
dF2.head()

       reviewerID        asin  ... TextBlob polarity Sentiment Intensity Analyze
0  A32T2H8150OJLU  B00000JBLH  ...          0.180000        {'compound': 0.9831}
1  A3MAFS04ZABRGO  B00000JBLH  ...          0.170939        {'compound': 0.9963}
2  A1F1A0QQP2XVH5  B00000JBLH  ...          0.204091               {'neu': 0.72}
3   A49R5DBXXQDE5  B00000JBLH  ...          0.214217         {'compound': 0.997}
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...          0.350000        {'compound': 0.9455}

[5 rows x 11 columns]

In [0]:
def polarityClass(str):
  score = SentimentIntensityAnalyzer().polarity_scores(str)
  if score['compound'] <= -0.5:
    return 'negative'
  if score['compound'] >= 0.5:
    return 'positive'
  else:
    return 'neutral'

In [0]:
dF["Polarity Class"] = dF["TweetText"].apply(polarityClass)
dF.head()

In [0]:
dF2["Polarity Class"] = dF2["reviewText"].apply(polarityClass)
dF2.head()

In [0]:
from sklearn.metrics import confusion_matrix
m = confusion_matrix(dF["Sentiment"], dF["Polarity Class"])
m